<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="FileMapping"
            id="edu.fsu.idiginfo.i2b2.fileMapping">
      </category>
      <view
            name="ColumnMapping"
            icon="icons/sample.gif"
            category="edu.fsu.idiginfo.i2b2.fileMapping"
            class="edu.fsu.idiginfo.i2b2.fileMapper.fileMapViews.ColumnMappingView"
            id="edu.fsu.idiginfo.i2b2.fileMapper.fileMapViews.ColumnMappingView">
      </view>
      <view
      		name="ColumnLables"
      		category="edu.fsu.idiginfo.i2b2.fileMapping"
            class="edu.fsu.idiginfo.i2b2.fileMapper.fileMapViews.ColumnLabels"
            id="edu.fsu.idiginfo.i2b2.fileMapper.fileMapViews.ColumnLabels">
      </view>
  
     
      <view
      		name="ViewTesting"
            category="edu.fsu.idiginfo.i2b2.fileMapping"
            class="edu.fsu.idiginfo.i2b2.fileMapper.fileMapViews.ViewTesting"
            id="edu.fsu.idiginfo.i2b2.fileMapper.fileMapViews.ViewTesting">
      </view>
      <view
      		name="AppTesting"
            category="edu.fsu.idiginfo.i2b2.fileMapping"
            class="edu.fsu.idiginfo.i2b2.fileMapper.fileMapViews.testApp"
            id="edu.fsu.idiginfo.i2b2.fileMapper.fileMapViews.testApp">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="edu.fsu.idiginfo.i2b2.fileMapper.fileMapViews.ColumnMappingView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
