<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="DelimitedFileParser"
		class="edu.fsu.idiginfo.i2b2.fileMapper.fileMapperUtil.DelimitedFileParser">
	</bean>
	<bean id="BlankFileParser"
		class="edu.fsu.idiginfo.i2b2.fileMapper.fileMapperUtil.BlankFileParser">
	</bean>
	<bean id="FileParserList"
		class="org.springframework.beans.factory.config.ListFactoryBean">
		<property name="sourceList">
			<list>
				<value>BlankFileParser</value>
				<value>DelimitedFileParser</value>

			</list>
		</property>
	</bean>

</beans> 
